<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <title>{{ site.title }}</title> #}

		{% block htmlheader %}

      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bodoni+Moda:wght@400;700&display=swap" rel="stylesheet">

			{% if (site.url == "http://localhost:3000" or site.url == "http://chris-smith-2021.vm") %}
				<link rel="stylesheet" href="{{ theme.link ~ '/dist/main.min.css' }}">
			{% else %}
				<style>
					{{source("/dist/main.min.css")}}
				</style>
			{% endif %}

		{% endblock %}

  {% if options.google_analytics %}
    {{ options.google_analytics}}
  {% endif %}

  {% if options.schema %}
    {{ options.schema}}
  {% endif %}

  {{ function('wp_head') }}
</head>

<body class="{{body_class}}">


  <nav class="mob-nav">
    <div class="scroll-container">
      <ul class="">
        {% for item in footerMenu.items %}
          <li class="{{item.class}} {{ item.current ? 'current-menu-item' }}">
            <a href="{{item.link}}">{{item.name}}</a>
            {% if item.children %}
              <ul class="sub-menu">
                {% for child in item.children %}
                  <li class="{{child.class}}">
                    <a href="{{child.link}}">{{child.name}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  <div class="wrapper">

      {% include "_components/mobile-fixed-bar.twig" %}
