<div class="w-full">
  <div class="container max-w-screen-lg px-4 md:px-8 lg:px-20 py-6 sm:py-10 lg:py-12 2xl:py-16 copy {{align == "Centered" ? 'text-center' : 'text-left'}} {{enlarge_first_para ? 'enlarge-intro' : ''}}">

    {{content}}

    {% if cta %}
      <a class="mt-6 no-underline" href="{{cta.url}}">{{cta.title}} &rarr;</a>
    {% endif %}

  </div>
</div>