{% set pagebuilder = pagebuilder|default(post.meta('page_builder')) %}

{% for item in pagebuilder %}

  {% if item.acf_fc_layout == "just_text" %}

    {% include '_components/just-text.twig'
      with {
        content: item.content,
        align: item.text_alignment,
        enlarge_first_para: item.enlarge_first_paragraph
      }
    %}

  {% elseif item.acf_fc_layout == "full_width_image" %}

    <div class="py-2 xl:p-10 xl:py-5 flex items-start justify-center">
      <img class="lazyload" data-src="{{item.image.url|resize(1900)}}" alt="{{item.image.title}}">
    </div>

  {% elseif item.acf_fc_layout == "multiple_images" %}

    {% for img in item.gallery %}
      <div class="py-2 xl:px-10 xl:py-5 flex items-start justify-center">
        <img class="lazyload" data-src="{{ img.url|resize(1900) }}" alt="{{ item.title }}" />
      </div>
    {% endfor %}

  {% elseif item.acf_fc_layout == "accordion" %}

    {% include '_components/accordion.twig'
      with {
        accordion_content: item.accordion_content,
      }
    %}

  {% elseif item.acf_fc_layout == "wedding_packages" and item.show_wedding_packages %}

    {% include '_components/pricing.twig'
      with {
        packages: post.meta('wedding_packages')
      }
    %}

  {% elseif item.acf_fc_layout == "facebook_reviews" and item.show_fb_reviews %}

    <div class="w-full">
      <div class="container max-w-screen-lg px-4 md:px-8 lg:px-16 py-8 sm:py-12 lg:py-16 2xl:py-20">

        {{ fn('dynamic_sidebar','reviews_page') }}

      </div>
    </div>

  {% endif %}

{% endfor %}