{% extends '_layout/base.twig' %}

{% block hero %}
  {% if not is_private_gal %}
    {% include "_components/hero-large.twig" %}
  {% endif %}
{% endblock %}

{% block content %}

{% if password_required %}

  <div class="text-center px-4 py-12 sm:pb-16 lg:pb-20 2xl:pt-16 2xl:pb-28 border-b border-gray-300">
    {{ fn('get_the_password_form') }}
  </div>

{% else %}

  <main class="w-full">

    <div class="container max-w-screen-md flex-wrap flex-grow my-8 lg:flex lg:my-16 xl:my-20">

      <article class="copy lg:text-sm {{is_private_gal ? 'text-center w-full' : ''}}">
        
        <h1 class="mb-4 lg:mb-8 {{post.title_alignment == "center" ? 'text-center' : ''}}">{{post.title}}</h1>
        
        {{post.content}}
        
      </article>

    </div>

    {% if nggid %}
    <div class=" max-w-screen-3xl mx-auto flex justify-center">
      {{ function('do_shortcode', '[nggallery id='~nggid~']') }}
    </div>
    {% endif %}

    <div class="container max-w-screen-md flex-wrap flex-grow my-8 lg:flex lg:my-16 xl:my-20">

      <article class="copy lg:text-sm">
        
        {{post.meta('secondary_content_section')}}
        
      </article>

    </div>

  </main>

{% endif %}

{% endblock %}
